<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login - Electronic Shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#bdfdff;height:50px;">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">
                <svg width="40px" height="40px" viewBox="-102.4 -102.4 1228.80 1228.80" class="icon" xmlns="http://www.w3.org/2000/svg" fill="#000000" transform="matrix(-1, 0, 0, 1, 0, 0)rotate(0)" stroke="#000000" stroke-width="0.01024">
                    <!-- SVG content here -->
                </svg>
<img th:src="@{/images/slogo.png}" style="height:60px;width:70px;"/>
                <h4 class="d-inline align-middle ml-2" style="color:red; font-family: Seville, cursive;">Online-Shopping</h4>
            </a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto"></ul>
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/}" href="#" style="color:red;font-family:Playfair Display,serif; font-size:20px;">HOME</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/shop}" href="#" style="color:red;font-family:Playfair Display,serif; font-size:20px;">SHOP</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/register}" style="color:red;font-family:Playfair Display,serif; font-size:20px;">SIGN UP</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-6 d-none d-md-block">
                <img th:src="@{/images/login.png}" src="../static/images/login.png" class="img-fluid rounded shadow" alt="Login Image">
            </div>
            <div class="col-md-6">
                <h2 class="text-info mb-4">Login</h2>
                <form th:action="@{/login}" method="post">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" placeholder="Your Email" class="form-control form-control-sm">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control form-control-sm" placeholder="Password" name="password" id="password">
                    </div>
                    <div th:if="${param.error}" class="alert alert-danger">Invalid username or password.</div>
                    <button type="submit" class="btn btn-info btn-block">Login</button>
                    <div class="mt-3">
                        <span>Don't have an account? <a th:href="@{/register}" class="btn btn-link">Register here</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>
